/*footer contacto*/

footer{
    div{
        .telefono{
            display: flex;
            gap: 10px;
        }
    }
    iframe{
            width: 100%;
            height: 100%;
            padding: 20px;
    }
}