/*footer index*/
footer {
background-image: linear-gradient(179deg, #faebd7 66%, #faf7cd 84%);


    padding: 20px;
    .iconos{
        @include flex ( row, center, center);
        gap: 15px;
        padding: 10px;
        margin-bottom: 0px;
        a{
            width: 50px;
            height: 50px;
        }
    }
.telefono{
    @include flex (row, center, center);
    padding: 5px;
    gap: 10px;
    p{
        margin-bottom: 0px;
    }
    }
    h2{
        text-align: center;
    padding: 20px;
    color: black;
font-size: 20px;
font-style: initial;
    }
}

